@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
.container {
  height: 400px;
  width: 300px;
  margin-top: 40px;
  display: flex;
}
.card {
  height: 400px;
  width: 300px;
  border-radius: 10px;
  border-color: black;
}
.corner-suit {
  font-size: 50px;
  font-weight: 500;
  padding-left: 15px;
}
.corner-suit-2 {
  font-size: 50px;
  font-weight: 500;
  margin-right: 15px;
  transform: rotate(180deg);
}
.centre {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: 500;
}
#button {
  background-color: rgb(250, 250, 154);
  color: green;
  margin-left: 400px;
  font-size: 1.5rem;
}
